<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Oops! Wrong page!</title>
  </head>
  <body>
    <h2>
      <header class="nav_header">
        <h1 class="hidden">Media Accessibility</h1>

        <nav>
          <ul>
            <li><a href="/">Go Back</a></li>
          </ul>
        </nav>
      </header>
      <section class="err">
        <h2>Sorry! Wrong page, please go back to the homepage.</h2>
      </section>
    </h2>
  </body>
</html>
