.nav_header {
  position: absolute;
  top: 3em;
  left: 3em;

  nav {
    ul {
      display: flex;
      gap: 1em;
    }
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
